<p>Upload a .CSV or .TXT file to see all possible meal combinations adding up to a certain dollar amount.</p>
<div>
  <form id="upload_form" action="/" method="post" enctype="multipart/form-data">
    <input id="upload_input" name="file" type="file" autofocus="" multiple="multiple"/>
    <input id="upload_button" type="submit" value="Upload"/>
  </form>
</div>

<div id="upload_messages">
  <%= partial(:"partials/upload_error") if @error %>
  <%= partial(:"partials/upload_success") if !@error && @filename %>
</div>

<% if @menu_data %>
  <div id = "menu" class = "float-left">
    <div class = "stats">
      <p>$<%= @menu_data[:price_total] %> price target | <%= @menu_data[:menu_items].length %> items</p>
    </div>
    <%= partial(:"partials/table_headers") %>
    <%= partial(:"partials/menu", locals: {menu: @menu_data[:menu_items]}) %>
  </div>
<% end %>

<% if @combos %>
  <div id = "combos" class = "float-right">
    <div class = "stats">
      <p><%= combo_count %> | <%= @time_to_solve %> seconds</p>
    </div>
      <%= partial(:"partials/table_headers") %>
      <%= partial(:"partials/combos_list", locals: {combos: @combos}) %>
  </div>
<% end %>
